body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #055079;
}
.container-calculadora{
    display: flex;
    justify-content: center;
    width: 20%; 
    height: 600px; 
    border-radius: 30px;
    box-shadow: 10px 7px 5px #202020;
    background-color: #00A37D;
}
.container-resultado{
    background-color: #353A39;
    margin-top: 5%;
    width: 80%; 
    height: 150px;
    border-radius: 25px;  
    border-color: #018262;
    border-style: solid;
    border-width: 10px;
}